a{
	text-decoration: none;
	color: inherit;
}

body{
	margin: 0;
	padding: 0;
	background: url("../lib/pattern.png");
	background-repeat: repeat;
}

.nav{
	display: inline-block;
	font-family: Century Gothic;
	font-size: 15px;
	padding: 10px;
	color:rgba(170, 175, 175,1);
	text-align: center;
	z-index: 999;
}


.nav:hover{
	display: inline-block;
	font-family: Century Gothic;
	font-size: 15px;
	padding: 10px;
	color:rgba(255,255,255,1);
	text-align: center;
	z-index: 999;
	-webkit-transition:color .15s ease-in;
}

#header{
	position: fixed;
	background: #334143;
	width: 1335px;
	height: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	opacity: 0.9;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	z-index: 999;
}

#container{
	margin-top:70px; 
	background: rgba(236, 89, 89,1);
	color: rgba(255,255,255,1);
	font-family: Century Gothic;
	font-size: 13pt;
	height: 250px;
	z-index: 3;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 170px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#putih{
	background: url("../lib/pattern.png");
	height: 30px;
	z-index: 3;
}

#halaman{
	background:rgba(255,244,255,1);
	margin-top: 80px;
	margin-bottom: 30px;
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 100px;
	height: 500px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#wadah{
	margin-bottom: 5px;
}
.kontak{
	height: 100px;
	width : 180px;
	text-align: center;
	display:inline-block;
	font-family: Century Gothic;
	font-size:14px;
	margin-left: 5px;
	color: rgb(51, 65, 67);
}

#contact{
	text-align: center;
	margin-top: 30px;
}
#pesbuk>p:hover{
	color:rgba(170, 175, 175,1);
	-webkit-transition:color .2s ease-in;
}

#gambar{
	margin: 30px;
	margin-left: 50px;
	float: left;
}