a{
	text-decoration: none;
	color: inherit;
}

body{
	margin: 0;
	padding: 0;
	background: url("../lib/pattern.png");
	background-repeat: repeat;
}
#map{
	height: 450px;
	width: 54%;
	left:23%;
	margin-top: 20px;
}

.select{
	background: rgba(51, 67, 70,1);
	color: white;
	font-family: Century Gothic;
	font-size: 12pt;
	border-radius: 3px;
	display: inline-block;
	margin-top: 20px;
	padding-right:20px;
	padding-left: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.select:hover{
	background: white;
	color: rgba(51, 67, 70,1);
	font-family: Century Gothic;
	font-size: 12pt;
	border-radius: 3px;
	display: inline-block;
	margin-top: 20px;
	border:solid 1px rgba(51,67,70,1);
	padding-right:19px;
	padding-left: 19px;
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: pointer;
	-webkit-transition:background .15s ease-in;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.nav{
	display: inline-block;
	font-family: Century Gothic;
	font-size: 15px;
	padding: 10px;
	color:rgba(170, 175, 175,1);
	text-align: center;
	z-index: 999;
}


.nav:hover{
	display: inline-block;
	font-family: Century Gothic;
	font-size: 15px;
	padding: 10px;
	color:rgba(255,255,255,1);
	text-align: center;
	z-index: 999;
	-webkit-transition:color .15s ease-in;
}

#header{
	position: fixed;
	background: #334143;
	width: 100%;
	height: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	opacity: 0.9;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	z-index: 999;
}

#halaman{
	margin: 30px;
	margin-left: 190px;
	margin-right: 190px;
	z-index: 3;
	background:rgba(255,255,255,1);
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

#putih{
	background: url("../lib/pattern.png");
	height: 130px;
	z-index: 3;
}

#kotak{
	background: rgba(51, 67, 70,1);
	padding: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#konten{
	margin-top: 30px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 30px;
	text-align: center;
	display: grid;
	grid-template-columns: 160px 250px 100px;
	grid-gap:10px;
	z-index: 3;
	height: 640px;
	padding-left: 70px;
	padding-right: 70px;
}

.box{
	text-align: center;
	color: rgba(255,255,255,1);
	background: rgb(51, 67, 70);
	width: 180px;
	height: 250px;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	font-family: Century Gothic;
	font-size: 11pt;
	padding-top: 10px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
	z-index: 3;
	border-radius: 5px;
}

.box:hover{
	text-align: center;
	color: rgba(51, 67, 70,1);
	background: rgb(255,255,255);
	border:solid 1px rgba(51, 67, 70,1);
	width: 180px;
	height: 250px;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	font-family: Century Gothic;
	font-size: 11pt;
	padding-top: 9px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 14px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
	z-index: 3;
	border-radius: 5px;
	-webkit-transition:background .2s ease-in;
}